<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layouts :: header"></head>
<body>
<h2>Explore Artists</h2>
<hr>
<a class="btn btn-primary" th:href="@{/artists/new}" role="button">New Artist</a>
<br>
<table class="table table-dark table-hover">
    <thead class="thead-dark">
    <tr>
        <th>Artist Name</th>
        <th>Album Name</th>
        <th>Action</th>
    </tr>
    <br>
    </thead>
    <tbody>
    <tr th:each="artist: ${artists}">
        <td th:text="${artist.nickname}"></td>
        <td th:text="${artist.albums}"></td>
        <td>
            <a th:href="@{/artists/update(id=${artist.id})}"
               class="btn btn-info btn-sm">Update
            </a>
            <a th:href="@{/artists/delete(id=${artist.id})}"
               class="btn btn-danger btn-sm"
               onclick="if (!(confirm('Are you sure you want to delete this Artist?'))) return false">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>